node_modules
.next
dist
coverage
.env
.env.local
.env.production
.env.*
!.env.example
!.env.local.example
apps/**/.env
apps/**/.env.*
!apps/**/.env.example
!apps/**/.env.local.example
uploads
tmp
logs/

/generated/prisma
.next-dev/
**/.next-dev/
apps/web/.next-dev/ 
tools/postgresql/ 
tools/ffmpeg-download/
tools/downloads/
compressed/
